/*

I have a specific way that I structure my CSS elements, following a pattern that I've created in my own brain.
Excuse me for any inconsistencies.

^ No excuse for what I have up here.

*/
:root {
  --universal-background: #111;

  --paragraph-text: #adadad;
  --paragraph-highlight: #fbd540c5;
  --primary-header-color: #eee;

  --button-default: #efbf04; /* This just became the "accent color". */
  --button-default-hover: #faf193;
  --button-default-active: #f9f3c0;
  --button-default-focus: #f3de72;
  --button-text-default: #121212;
  --button-text-hover: #242424;

  --link-default: #e8d366;
  --link-hover: #eefff1;
  --link-select-default: #555;
  --link-select-hover: #efe;

  --main-max-width: 130rem;
}

/* Attributes */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  touch-action: manipulation;
  color-scheme: dark;
}

*::selection {
  background: var(--paragraph-highlight);
  color: #121212;
}

a::selection {
  color: var(--link-select-default);
  text-decoration: underline;
}

a:hover::selection {
  color: var(--link-select-hover);
}

html, body {
  min-width: 256px;
  background: var(--universal-background);
}

/* Text */
h1, h2, h3, h4, h5, h6 {
  color: var(--button-default);
}

h1 {
  font-size: 4rem;
  font-size: clamp(3rem, 6vw + 1.75rem, 5rem);
  color: var(--primary-header-color);
}

h2 {
  font-size: 3.25rem;
  font-size: clamp(3rem, 7vw + 1rem, 3.75rem);
}

h3 {
  font-size: 2.75rem;
  font-size: clamp(2.25rem, 7vw + .75rem, 3rem);
}

h4 {
  font-size: 2.25rem;
  font-size: clamp(1.75rem, 4vw + 1rem, 2.5rem);
}

h5 {
  font-size: 1.75rem;
  font-size: clamp(1.5rem, 2vw + 1.15rem, 2rem);
}

h6 {
  font-size: 1.66rem;
  font-size: clamp(1.33rem, 1vw + 1rem, 1.66rem);
}

p {
  font-size: 1.25rem;
  color: var(--paragraph-text);
}

/* Interactivity */
a {
  font-size: 1.25rem;
  outline-offset: .25rem;
  color: var(--link-default);
  text-decoration: underline;
  transition: color .125s;
}

a:hover {
  color: var(--link-hover);
  transition: none;
}

a:active {
  color: var(--button-default-active);
}

a:focus-visible {
  outline: 2px solid var(--button-default-focus);
  border-radius: .25rem;
  color: var(--button-default-focus);
  animation: tabSelect 1s ease infinite;
}

@keyframes tabSelect {
  0%, 100% {
    outline-color: var(--button-default-focus);
    color: var(--button-default-focus);
  }
  50% {
    outline-color: var(--button-default);
    color: var(--button-default);
  }
}

button {
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: .5rem;
  background: var(--button-default);
  font-family: inherit;
  font-size: 1.25rem;
  color: var(--button-text-default);
  transition: background-color .25s, color .25s, filter .25s;
  cursor: pointer;
}

button:hover {
  background: var(--button-default-hover);
  color: var(--button-text-hover);
  transition: none;
}

button:active {
  background: var(--button-default-active);
  color: var(--button-text-default);
  transition: none;
}

button:focus-visible {
  background: var(--button-default-focus);
  color: var(--button-text-hover);
  transition: none;
}

svg {
  position: absolute;
}

main {
  margin: 0 auto;
  max-width: var(--main-max-width);
  box-shadow: 2rem 1rem 8rem .5rem #000;
}

main:focus-visible {
  outline: .25rem solid #efbf0480;
  animation: mainBorderPulse 2s ease infinite;
}

@keyframes mainBorderPulse {
  0%, 100% {
    outline-offset: -.75rem;
  }
  50% {
    outline-offset: -.25rem;
  }
}

/* --- Media Quieries --- */
/* Light Mode */
/* Prefers Reduced Animation */
@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto;
  }

  a, button, button:hover {
    transition: none;
  }

  a:focus-visible {
    animation: none;
  }
  
}