.frontLander {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(#222 20%, #111 20%);
  background-repeat: repeat;
  background-size: .5rem .5rem;

  .foregroundContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100vw;
    z-index: 2;

    .titleContainer {
      height: max-content;
      width: 50%;
      line-height: 1;
      line-break: normal;
      text-wrap: wrap;
      container-type: inline-size;

      .subTitle, .nameTitle {
        margin-left: 3rem;
        width: auto;
      }

      .subTitle {
        color: var(--button-default);
      }
      
      @container (max-width: 727px) {
        .subTitle, .nameTitle {
          margin-left: clamp(3rem, 7vw + -1rem, 6rem);
        }
      }

    }

    .buttonContainer {
      width: 50%;
      min-width: 10rem;
      container-type: inline-size;

      .primaryButton {
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
          margin: 2rem;
          margin-bottom: 0;
          min-height: 4rem;
          width: clamp(8rem, 100%, 38.25rem);
          font-size: 1.25rem;
          font-weight: 700;
        }

        .button:focus-visible {
          outline: .125rem solid var(--button-default-hover);
          outline-offset: .25rem;
        }

      }

      .buttonArray {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 2rem;
        margin-bottom: 0;

        .subButton {
          min-width: 8rem;
          width: 100%;
          max-width: 12rem;
          outline: .125rem solid var(--button-default);
          background: var(--button-text-default);
          color: var(--button-default);
        }

        .subButton:hover {
          outline: .125rem solid var(--button-default);
          background: var(--button-text-hover);
          color: var(--button-default-hover);
        }

        .subButton:focus-visible {
          background: var(--button-default);
          outline: .125rem solid var(--button-default);
          outline-offset: .25rem;
          color: var(--button-text-default);
        }

      }

      @container (max-width: 41.99rem) {
        .primaryButton .button {
          max-width: 25.25rem;
        }

      }

    }

  }

  .backgroundContent {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-repeat: repeat;
    z-index: 1;
    filter: drop-shadow(.25rem .5rem .75rem #00000080);
    
    .background {
      height: 95%;
      width: 70%;
      background-image: radial-gradient(#555 20%, #111 20%);
      background-size: 1rem 1rem;
      clip-path: url(#backgroundPath);
      animation: background-shift 120s linear infinite;
    }

  }

}

@keyframes background-shift {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.introSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  
  .introduction {
    margin: 2rem;
    height: 35rem;
    width: 100%;
    background: #222;
  }
  
}

@media screen and (max-width: 61rem) {
  .frontLander {

    .foregroundContent {
      flex-direction: column;

      .titleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .subTitle, .nameTitle {
          margin: 0 1.775rem;
          text-align: center;
        }

      }

      .buttonContainer {
        width: 100%;

        .primaryButton {

          .button {
            min-width: 8rem;
            margin-top: 4rem;
          }

        }

      }

    }

  }

}

@media screen and (max-width: 41.99rem) {

  .frontLander {

    .foregroundContent .buttonContainer .primaryButton .button {
      max-width: 25.25rem;
    }

    .backgroundContent {
      color: red;
      /* replace this */
    }

  }

}

@media screen and (max-width: 28.99rem) {

  .frontLander .foregroundContent .buttonContainer {
    width: 100%;

    .primaryButton .button {
      margin: 0;
      margin-top: 2rem;
      max-width: 95%;
    }

    .buttonArray {
      margin: 1rem 0;

      .subButton {
        max-width: 95%;
      }

    }

  }

}