.headerBase {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  height: 6rem;
  width: 100%;
  background-image: linear-gradient(0, #11111100, #111);
  z-index: 255;

  .logo {
    position: relative;
    margin: 1.5rem;
    aspect-ratio: 1;
    width: 3rem;
    background: url("/assets/icons/withzyproductions.png");
    background-size: contain;
    border-radius: 1.5rem;
    transition: filter .5s ease, box-shadow .5s ease;
    z-index: 256;
  }

  .logo:hover {
    box-shadow: 0 0 .5rem #9e7807;
    filter: brightness(1.25);
    transition: none;
  }

  .logo:active {
    box-shadow: 0 0 .5rem #614902;
    filter: brightness(.9);
    transition: none;
  }

  .logo:focus-within {
    outline: .125rem solid var(--button-default);
    outline-offset: .25rem;
    filter: brightness(1.25);
    transition: none;
  }

  .menuButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    position: relative;
    margin: 1.5rem;
    margin-left: auto;
    padding: .75rem;
    aspect-ratio: 1;
    width: 1.5rem;
    background: var(--link-select-default);
    border-radius: 1.5rem;
    transition: background-color .25s;
    cursor: pointer;
    overflow: clip;
    z-index: 256;
    
    .bun, .meat {
      height: .2rem;
      width: 100%;
      background: #ddd;
      pointer-events: none;
    }

  }

  .menuButton:hover {
    background: #777;
    transition: none;
  }

  .menuButton:active {
    background: #666;
    transition: none;
  }
  
  .menuButton:focus-visible {
    background: #777;
    transition: none;
  }

  .linkContainer {
    display: flex;
    position: relative;
    align-items: center;
    gap: 1rem;
    margin: 0 2rem;
    margin-left: auto;
    height: 100%;
    z-index: 256;

    .menuTitle {
      list-style: none;

      .menuItems {
        display: none;
        position: absolute;
        padding: .75rem;
        max-width: 18rem;
        outline: .125rem solid #aaa;
        background: #11111180;
        border-radius: .5rem;
        backdrop-filter: blur(.5rem);
        list-style: none;
      }

      .menuItems li {
        margin-bottom: .75rem;
        outline: .125rem solid ;
        background: #111111cc;
        border-radius: .25rem;
      }

      .menuItems:not(:last-child) {
        margin-bottom: .75rem;
      }

      .menuItems li * {
        padding: .5rem;
        width: 100%;
        text-align: center;
      }

    }
    
    .menuTitle:hover {

      .menuItems {
        display: block;
      }

    }

  }

  .linkContainer a, .linkContainer p {
    color: #aaa;
    text-decoration: none;
    transition: color .25s;
    cursor: pointer;
  }
  
  .linkContainer a:hover, .linkContainer p:hover {
    color: #ddd;
    text-decoration: none;
    transition: none;
  }

  .headerBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: .25rem .25rem;
    background-image: radial-gradient(#11111100 33%, #111 33%);
    background-repeat: repeat;
    backdrop-filter: blur(.25rem);
    mask-image: linear-gradient(0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 33%);
  }

}

@media screen and (max-width: 28.99rem) {
  .headerBase {
    
    /* CHANGE WHEN THE HAMBURGER MENU APPEARS! */
  }
  
}