:root {
  --menuButton-hover: #33333380;
  --menuButton-active: #333333;
  --menuButton-open: #333;
  --menuButtonOutline-active: #555;
  --menuButtonAnimation: cubic-bezier(.75, 0, .75, .5);

  --menuButtonOpen-hover: #55555580;
  --menuButtonOpen-active: #555;
  --menuButtonOpenOutline-active: #777;

  --menuWidth: min(80%, 30rem);

  --menuText-borderColor: #454545;
  --menuText-backgroundColor: #3a3a3a;
  --menuText-outlineColor: #565656;
}

.menuButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  transition: backdrop-filter .25s var(--menuButtonAnimation);
  transition-delay: .125s;
  overflow: hidden;
  pointer-events: none;
  z-index: 101;

  .menuButton {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    position: relative;
    margin: 1.5rem;
    margin-left: auto;
    padding: .75rem;
    aspect-ratio: 1;
    width: 1.5rem;
    background: transparent;
    outline: 1px solid transparent;
    border-radius: 100%;
    transition: background-color .25s, outline-color .25s, transform .25s;
    pointer-events: all;
    cursor: pointer;
    overflow: clip;
    z-index: 102;
    
    .bun, .meat {
      height: .15rem;
      width: 1.5rem;
      background: #ddd;
      pointer-events: none;
      transition: transform .25s, opacity .25s;
    }

    .meat:last-child {
      position: absolute;
    }
  
  }
  
  
  .menuButton:hover {
    background: var(--menuButton-hover);
    transition: none;
  }
  
  .menuButton:active {
    background: var(--menuButton-active);
    outline-color: var(--menuButtonOutline-active);
    transition: none;
  }
  
  .menuButton:focus-visible {
    background: var(--menuButton-hover);
    transition: none;
  }
  
  .menuButton.open {
    
    .bun {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    .bun:first-child {
      transform: translateY(-1rem);
    }
    
    .meat {
      transform: rotate(45deg);
    }

    .meat:last-child {
      transform: rotate(-45deg);
    }
  
  }
  
  .menuButton.open:hover {
    background: var(--menuButtonOpen-hover);
  }

  .menuButton.open:active {
    background: var(--menuButtonOpen-active);
    outline-color: var(--menuButtonOpenOutline-active);
  }

  .menuModalContainer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 0;
    height: calc(100% - 2rem);
    width: var(--menuWidth);
    background: var(--menuButton-open);
    animation: openBackground .6s ease;
    overflow: hidden;
    pointer-events: all;
    z-index: 101;

    .menuModal {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin: 0 1rem;
      padding: 8rem 0rem;
      height: calc(100% - 16rem);
      width: auto;
      transform: translateY(-1rem);
      transition: box-shadow .25s ease;
      overflow-x: clip;
      overflow-y: scroll;
      opacity: 0;
    }

    .menuModal:focus-visible {
      border-left: .25rem solid var(--menuButtonOpenOutline-active);
      border-right: .25rem solid var(--menuButtonOpenOutline-active);
      outline: none;
    }

    .menuModal h2 {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      width: 100%;
      border-bottom: 1px solid var(--menuText-borderColor);
      text-align: center;
    }

    .menuModal a, .menuModal p:not(.menuModal details summary p), .menuModal details {
      width: 80%;
      padding: 1rem;
      background: var(--menuText-backgroundColor);
      border-radius: 1rem;
      outline: 1px solid var(--menuText-outlineColor);
      outline-offset: 0;
    }

    .menuModal a, .menuModal p {
      color: var(--link-default);
      font-size: 1.75rem;
      text-align: center;
      text-decoration: none;
    }

    .menuModal details {
      display: flex;
      animation: closeModal .125s ease 1;

      summary {
        position: relative;
        width: 100%;
        border-radius: .125rem;
        transition: max-height .25s ease;
        list-style-type: none;
        cursor: pointer;
        
        p {
          color: var(--link-default);
          font-size: 1.75rem;
          text-align: center;
        }
        
        p::selection {
          background: none;
          color: var(--link-default);
        }

      }
      
      summary:focus-visible {
        outline: 1px solid var(--button-default);
        outline-offset: 1rem;
      }
      
    }

    .menuModal details[open] {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 1rem;
      transition: padding .25s ease;
      animation: openModal .15s ease 1;

      summary {
        padding-bottom: .25rem;
      }

      a {
        width: calc(100% - 2rem);
        margin: 1rem auto;
        background: var(--menuButton-active);
        font-size: 1.5rem;
      }

      a:last-child {
        margin: 0 auto;
      }
      
    }
    
  }

  .menuModalContainer::before, .menuModalContainer::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2rem;
    width: 100%;
    pointer-events: none;
    z-index: 102;
  }

  .menuModalContainer::before {
    top: 1rem;
    background: linear-gradient(180deg, #333, transparent);
  }

  .menuModalContainer::after {
    bottom: 1rem;
    background: linear-gradient(0deg, #333, transparent);
  }
  
  .menuModalContainer.open {
    display: block;
    opacity: 1;
    
    .menuModal {
      transform: translateY(0);
      transition: opacity .33s ease, transform .33s ease;
      transition-delay: 1s;
      animation: openElements .6s ease;
      opacity: 1;
    }

  }

  .menuModalContainer.open::before, .menuModalContainer.open::after {
    transform: translateY(0);
    opacity: 1;
    animation: openElements .6s ease;
  }

  .menuModalBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000080;
    transition: opacity .33s ease;
    transition-delay: opacity 0s;
    pointer-events: none;
    opacity: 0;
    z-index: 99;
  }

  .menuModalBackground.open {
    transition-delay: opacity .33s;
    pointer-events: all;
    opacity: 1;
  }

  .menuButtonWrapper {
    position: absolute;
    height: 100%;
    width: var(--menuWidth);
    top: 0;
    right: 0;
    pointer-events: none;
    overflow: hidden;

    .menuButtonBackground {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      aspect-ratio: 1;
      width: 3rem;
      background: #333;
      border-radius: 100%;
      transition: transform .33s var(--menuButtonAnimation), opacity .33s;
      transition-delay: 0s, .33s; /* Why can't I just put "0"? That makes no sense. I'll never get those 20 minutes back. */
      transform: scale(1);
      overflow: hidden;
      opacity: 0;
      z-index: 100;
    }

    .menuButtonBackground.open {
      transform: scale(50);
      transition: transform .33s var(--menuButtonAnimation);
      opacity: 1;
    }

  }

}

.menuButtonContainer.open {
  backdrop-filter: blur(.25rem);
  transition-delay: 0s;
  pointer-events: all;
}

@keyframes openModal {
  
  0% {
    padding-bottom: 0rem;
  }

  50% {
    padding-bottom: 3rem;
  }

  100% {
    padding-bottom: 1rem;
  }

}

@keyframes closeModal {

  0% {
    padding-bottom: 2rem;
  }

  50% {
    padding-bottom: 0;
  }

  100% {
    padding-bottom: 1rem;
  }

}

@keyframes openBackground {
  
  0%, 50% {
    background: transparent;
  }

  100% {
    background: var(--menuButton-open);
  }

}

@keyframes openElements {

  0%, 50% {
    transform: translateY(-2rem);
    opacity: 0; 
  }

  100% {
    transform: none;
    opacity: 1;
  }

}

@media screen and (max-width: 41.99rem) {
  
  .menuButtonContainer {

    .menuButton {
      display: flex;
    }

  }

}